<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="page-title">
      التحميلات
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
     
  <div *ngIf="show == 'good'">
     <ion-card *ngFor="let da of data | keyvalue: originalOrder">

      <p class="title-down">{{da.value.title}}</p>
       
      <ion-button class="link-down" (click)="openLink(da.value.filename)">
        {{da.value.titlebtn}}
      </ion-button>
    </ion-card>
  </div>

  <div *ngIf="show == 'bad'">
    <p class="lod-error">يوجد خطأ حاول مرة أخرى <br>أو تأكد من أتصال الأنترنت</p>
  </div>


</ion-content>
