.title-down {
    text-align: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.link-down{
    margin: auto;
    display: block;
    width: 50%;  
    margin-bottom: 15px;
    --background:#c67f52;
    --background-hover:#c67f52;
}